* {
  box-sizing: border-box;
}

html {
  font-size: 50px;
}

.single-page {
  border: 1px solid lightgray;
  border-radius: 10px;
  min-width: 11.5rem;
  max-width: 14rem;
}

.frame {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4px;
  border: 5px solid black;
  overflow: hidden;
}

.page-cross {
  font-family: 中华书局宋体00平面, HanaMinA;
  font-size: 0.5rem;
  writing-mode: vertical-rl;
  color: lightgray;
}

.left-page .page-cross {
  margin-right: -0.35rem;
  float: right;
}

.right-page .page-cross {
  margin-left: -0.35rem;
  float: left;
}

.left-page .frame {
  margin-left: 1.2rem;
  margin-right: 0;
  border-right: 0;
}

.right-page .frame {
  border-left: 0;
}

.lines {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid gray;
  justify-content: space-between;
}

.line {
  display: flex;
  flex-direction: column;
}

.large {
  font-family: "康熙傳承版 KangXiZiDian.com";
  writing-mode: vertical-rl;
}

.large.indent1 {
  text-indent: 1em;
}

.large.indent2 {
  text-indent: 2em;
}

.small {
  font-family: 中华书局宋体00平面;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.small:last-child {
  flex-grow: 1;
}

.small-line {
  font-size: 0.4rem;
  writing-mode: vertical-rl;
  text-align-last: justify;
  letter-spacing: 0.1em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.book {
  border: 1px gray solid;
  border-radius: 0.1rem;
}

.first-half {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.second-half {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
