* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

.single-page {
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 20rem;
}

.frame {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 4px;
  border: 5px solid black;
  overflow: hidden;
  width: 16rem;
  box-sizing: content-box;
}

.left-page .frame {
  margin-left: 2.4rem;
  margin-right: 0;
  padding-right: 1.1rem;
  border-right: 0;
}

.right-page .frame {
  border-left: 0;
  margin-right: 2.4rem;
  padding-left: 1.2rem;
  margin-left: 0;
}

.lines {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid gray;
  width: 16rem;
}

.left-page .lines {
  margin-right: auto;
}

.right-page .lines {
  margin-left: auto;
}

.line {
  width: 2rem;
  height: 24rem;
}

.large {
  font-family: "康熙傳承版 KangXiZiDian.com";
}

.large-grid {
  height: 2rem;
  width: 2rem;
  font-size: 1.8rem;
  text-align: center;
  writing-mode: vertical-rl;
}

.small {
  font-family: 中华书局宋体00平面;
  display: flex;
  flex-direction: row-reverse;
}

.small-line {
  width: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.small-grid {
  height: 1rem;
  width: 1rem;
  font-size: 0.8rem;
  text-align: center;
  writing-mode: vertical-rl;
}

.book {
  border: 1px gray solid;
  border-radius: 6px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
  margin-left: 1px;
}

.book .small-grid {
  width: 0.96rem;
}

.first-half {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.second-half {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
